{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block titleBlock %}

        {% endblock %}
    </title>

    {% block css %}



     {% endblock %}

</head>

<body>

{% if user.is_authenticated %}

    <p> Hi {{ user.username }}!</p>

    <p> <a href="{% url 'logout' %}" > Log Out</a> </p>


    <a href = "{% url 'suggestion' %}"> Add Suggestion </a></br>

    <a href = "{%  url 'index' %}" > Go to Chat Room </a>

    <a href = "{%  url 'stats' %}" > Quick Stats </a>



    {% else %}
    <p> You are not Log In</p>

        <a href = "{% url 'login' %}"> Log In </a>

        <a href = "{% url 'register' %}"> Register Here</a>

{% endif %}


    {% block infoBlock %}

    {% endblock %}

</body>


</html>